# Python
__pycache__/
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
testenv/

# Project Logs and Outputs
logs/
outputs/
runs/

# Datasets
datasets/

# Models
models/**/*.pt
!models/pretrained/yolov8n.pt
yolo*.pt

# System
.DS_Store
